include ./includes/head.jade

section#top
    section#profile-img
    section#profile-name
        h1 Test
        p Test
    section#profile-data
        p Following:
        p Followers:
        

section#timeline
